#my-div {
    margin: 10px;
    padding: 10px;
    width: 400px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;
}
#search {
    width: 95%;
    margin: 5px;
}
#address1, #address2 {
    margin: 6px;
    width: 170px;
    display: inline-block;
}
#location1, #location2 {
    padding: 5px;
}
#distance h3{
    color: red;
}
#result {
    display: none;
}
